@charset "UTF-8";
@media (min-width: 992px) {
  body {
    display: none;
  }
}

@media (max-width: 345px) {
  body {
    display: none;
  }
}

p, h4, h3, h2, h1 {
  margin: auto;
}

body {
  margin: auto;
  position: relative;
  overflow-x: hidden;
  font-family: "Noto sans","Noto sans JP", sans-serif;
  background-color: #F4F5F7;
}

body input {
  border: none;
  display: block;
  outline: none;
  padding: 0px;
  line-height: 48px;
}

body button {
  margin: auto;
  height: 48px;
  padding: 0;
  border: none;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 10px;
  outline: none;
}

body input::-webkit-input-placeholder {
  font-size: 16px;
  color: #BDBDBD;
  line-height: 48px;
  font-weight: 300;
  position: relative;
  top: 1px;
}

body input:-ms-input-placeholder {
  font-size: 16px;
  color: #BDBDBD;
  line-height: 48px;
  font-weight: 300;
  position: relative;
  top: 1px;
}

body input::-ms-input-placeholder {
  font-size: 16px;
  color: #BDBDBD;
  line-height: 48px;
  font-weight: 300;
  position: relative;
  top: 1px;
}

body input::placeholder {
  font-size: 16px;
  color: #BDBDBD;
  line-height: 48px;
  font-weight: 300;
  position: relative;
  top: 1px;
}

body .fix-header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  height: 56px;
  margin: auto;
  z-index: 100;
  background-color: #F4F5F7;
}

body .coupon-detail-fix-header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 56px;
  margin: auto;
  z-index: 100;
}

body .nav-bar {
  height: 56px;
  background-color: #F4F5F7;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  z-index: 1000;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

body .nav-bar .nav-bar-contents {
  position: relative;
  font-size: 10px;
}

body .nav-bar .nav-bar-contents .nav-name {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  margin: auto;
}

body .nav-bar .nav-bar-contents .this-page {
  color: #298AE4;
}

body .nav-bar .nav-bar-contents svg {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  margin: auto;
  fill: #298AE4;
}

body .qr-scan-btn {
  height: auto;
  text-align: center;
  background: #298AE4;
  width: auto;
  display: inline-block;
  position: fixed;
  bottom: 0px;
  font-size: 16px;
  width: 144px;
  padding: 16px 0px;
  line-height: 100%;
  color: white;
  left: 0;
  right: 0;
  opacity: 0;
  margin: auto;
  border-radius: 10px;
  -webkit-animation: appearance 0.5s forwards;
          animation: appearance 0.5s forwards;
}

body .qr-scan-btn .scan-icon {
  height: 16px;
  width: 16px;
  background: url(../icon/scan.svg);
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
}

@-webkit-keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 72px;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 72px;
  }
}

body .header {
  height: 56px;
  width: calc(100% - 48px);
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  position: relative;
}

body .header .logo {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body .header .menu-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  margin: auto;
}

body .header .back-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  margin: auto;
}

body .header .page-name {
  line-height: 56px;
  font-size: 24px;
}

body .header .page-name-detail {
  line-height: 56px;
  text-align: center;
  font-size: 16px;
}

body .login {
  width: calc(100% - 48px);
  margin: auto;
  padding-top: 24px;
}

body .login .input {
  height: 48px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
  border-radius: 10px;
  margin-bottom: 24px;
}

body .login div {
  position: relative;
}

body .login div .visible {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  margin: auto;
  height: 24px;
  width: 24px;
  z-index: 10;
  background: url(../icon/visibility_24px_outlined.svg);
}

body .login div .visible-input {
  display: none;
}

body .login div .visible-input:checked ~ .visible {
  background: url(../icon/visibility_off_24px_outlined.svg);
}

body .history-tab {
  height: 48px;
  display: -ms-grid;
  display: grid;
  background-color: #F4F5F7;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  width: 100%;
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  margin: auto;
  border-bottom: 1px solid #D7D7D7;
  z-index: 10;
  top: 56px;
  -webkit-transform: translate3d(0px, 0, 0) !important;
          transform: translate3d(0px, 0, 0) !important;
}

body .history-tab .history-tab-left {
  text-align: right;
  background-color: #F4F5F7;
  margin-right: 16px;
}

body .history-tab .history-tab-right {
  text-align: left;
  margin-left: 16px;
  background-color: #F4F5F7;
}

body .history-inactive {
  color: #BDBDBD;
}

body .history {
  width: calc(100% - 48px) !important;
  margin: auto;
  position: relative;
  overflow: visible !important;
}

body .history .in-active {
  display: none;
}

body .history .history-point {
  width: 100% !important;
  margin: auto;
}

body .history .history-point .history-point-histories-month {
  padding-bottom: 16px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  font-weight: bold;
  line-height: 80%;
  padding-top: 24px;
  background-color: #F4F5F7;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 8;
}

body .history .history-point .history-point-histories-month .month {
  font-size: 16px;
}

body .history .history-point .history-point-histories-month .month-points {
  text-align: right;
  font-size: 16px;
}

body .history .history-point .history-point-histories-month .month-points .month-points-total {
  font-size: 13px;
  color: #BDBDBD;
}

body .history .history-point .history-point-histories-month .month-points .month-points-p {
  font-size: 12px;
  color: #BDBDBD;
}

body .history .history-point .history-point-total {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  font-weight: bold;
  line-height: 100%;
}

body .history .history-point .history-point-total .gived-point {
  font-size: 12px;
  color: #BDBDBD;
  line-height: 18px;
}

body .history .history-point .history-point-total .total-point {
  font-size: 24px;
  text-align: right;
}

body .history .history-point .history-point-total .total-point .point-p {
  color: #BDBDBD;
  font-size: 20px;
}

body .history .history-point .history-point-histories-card {
  margin-top: 8px;
  height: auto;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  display: -ms-grid;
  display: grid;
  line-height: 80%;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  border-radius: 10px;
}

body .history .history-point .history-point-histories-card .card-username {
  position: relative;
  font-size: 16px;
}

body .history .history-point .history-point-histories-card .card-username p {
  height: 16px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

body .history .history-point .history-point-histories-card .card-day {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #BDBDBD;
}

body .history .history-point .history-point-histories-card .card-points {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

body .history .history-point .history-point-histories-card:nth-child(1) {
  margin-top: 0px;
}

body .history .history-coupon {
  width: 100% !important;
}

body .history .history-coupon .history-coupon-histories-month {
  padding-bottom: 16px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  font-weight: bold;
  line-height: 80%;
  padding-top: 24px;
  background-color: #F4F5F7;
  position: -webkit-sticky;
  position: sticky;
  z-index: 8;
}

body .history .history-coupon .history-coupon-histories-month .month {
  font-size: 16px;
}

body .history .history-coupon .history-coupon-histories .history-coupon-histories-card {
  margin-top: 8px;
  height: auto;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  display: -ms-grid;
  display: grid;
  line-height: 80%;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  border-radius: 10px;
}

body .history .history-coupon .history-coupon-histories .history-coupon-histories-card .card-coupon-username {
  font-size: 12px;
  margin-bottom: 10px;
}

body .history .history-coupon .history-coupon-histories .history-coupon-histories-card .card-coupon-couponname {
  font-size: 16px;
}

body .history .history-coupon .history-coupon-histories .history-coupon-histories-card .card-day {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #BDBDBD;
}

body .history .history-coupon .history-coupon-histories .history-coupon-histories-card .card-points {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

body .history .history-coupon .history-coupon-histories .history-coupon-histories-card:nth-child(1) {
  margin-top: 0;
}

body .point {
  position: relative;
  overflow-x: hidden;
  padding-top: 24px;
  width: calc(100% - 48px) !important;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body .point .point-card {
  height: auto;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  border-radius: 10px;
  margin-bottom: 12px;
  line-height: 80%;
  width: 100%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

body .point .point-card .point-card-name {
  font-size: 16px;
  display: inline-block;
}

body .point .point-card .point-card-points {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  display: block;
  margin-left: auto;
  margin-right: 16px;
}

body .point .point-card .point-card-points span {
  color: #BDBDBD;
}

body .point .point-card .point-card-arrow {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 12px;
  margin: auto;
}

body .point .tab-switch:checked ~ .point-card {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border: 0px solid #000;
}

body .point .tab-switch:checked + .point-card {
  border: 2px solid #000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

body .dinner-point {
  width: 100%;
  padding-bottom: 180px;
}

body .lanch-point {
  width: 100%;
  padding-bottom: 180px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}

body .lanch-point .launch-menu-point {
  height: auto;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 16px;
}

body .lanch-point .launch-menu-point .lanch-per-point, body .lanch-point .launch-menu-point .lanch-menu-name {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

body .lanch-point .launch-menu-point .lanch-per-point span, body .lanch-point .launch-menu-point .lanch-menu-name span {
  color: #BDBDBD;
}

body .lanch-point .launch-menu-point .lanch-unit-controler {
  height: 100%;
  text-align: center;
  margin-top: 8px;
}

body .lanch-point .launch-menu-point .lanch-unit-controler .lanch-unit-controler-plus {
  height: 32px;
  width: 32px;
  display: inline-block;
  line-height: 28px;
  font-size: 30px;
  vertical-align: top;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  margin-right: 8px;
}

body .lanch-point .launch-menu-point .lanch-unit-controler .lanch-unit-controler-number {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  padding-top: 4px;
}

body .lanch-point .launch-menu-point .lanch-unit-controler .lanch-unit-controler-minus {
  height: 32px;
  width: 32px;
  display: inline-block;
  line-height: 28px;
  font-size: 30px;
  vertical-align: top;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  margin-left: 8px;
}

body .lanch-point .launch-menu-point .lanch-unit-controler .oops {
  border: 1px solid #BDBDBD !important;
  color: #BDBDBD;
}

body .action-point {
  background: #c03131;
  width: 100%;
  height: 60px;
}

body .selected-open {
  top: calc(-100vh + 136px) !important;
}

body .selected-var {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 56px;
  z-index: 1000;
}

body .selected-var .selected-container {
  height: auto;
  position: absolute;
  width: 100%;
  top: -32px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

body .selected-var .selected-container .selected-header {
  height: 32px;
  width: 100%;
  padding: 0px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000;
  text-align: center;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

body .selected-var .selected-container .selected-header .up-icon {
  height: 20px;
  width: 20px;
  background: url(../icon/arrow_up_ios_24px.svg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

body .selected-var .selected-container .selected-header .up-icon-reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.3;
          transition-duration: 0.3;
}

body .selected-var .selected-container .selected-header .selected-total-object-label {
  font-size: 14px;
  color: white;
  display: inline-block;
}

body .selected-var .selected-container .selected-header .selected-total-object {
  height: 22px;
  width: 22px;
  background-color: white;
  line-height: 22px;
  text-align: center;
  border-radius: 16px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

body .selected-var .selected-container .selected-content {
  height: calc(100vh - 168px);
  background: white;
  width: 100%;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .selected-var .selected-container .selected-content .selected-object {
  text-align: right;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  display: -ms-grid;
  display: grid;
  padding: 16px 0px;
  border-bottom: 1px solid #dbdbdb;
}

body .selected-var .selected-container .selected-content .selected-object .selected-object-content {
  text-align: left;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  display: -ms-grid;
  display: grid;
}

body .selected-var .selected-container .selected-content .selected-object .selected-object-content .selected-object-name {
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
  line-height: 24px;
  display: inline-block;
}

body .selected-var .selected-container .selected-content .selected-object .selected-object-content .selected-object-name p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .selected-var .selected-container .selected-content .selected-object .selected-object-content .selected-object-point {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  text-align: right;
}

body .selected-var .selected-container .selected-content .selected-object .selected-controler {
  margin-left: auto;
  margin-right: 0px;
  height: 24px;
  text-align: center;
}

body .selected-var .selected-container .selected-content .selected-object .selected-controler .selected-controler-delete {
  height: 24px;
  line-height: 20px;
  font-size: 10px;
  vertical-align: top;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  padding: 0px 24px;
}

body .selected-var .selected-container .selected-content .selected-object .selected-controler .selected-controler-plus {
  height: 24px;
  width: 24px;
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  vertical-align: top;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

body .selected-var .selected-container .selected-content .selected-object .selected-controler .selected-controler-objects {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  padding-top: 4px;
}

body .selected-var .selected-container .selected-content .selected-object .selected-controler .selected-controler-minus {
  height: 24px;
  width: 24px;
  line-height: 20px;
  font-size: 20px;
  display: inline-block;
  border-radius: 24px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

body .selected-var .selected-container .selected-content .selected-object .selected-controler .oops {
  border: 1px solid #BDBDBD !important;
  color: #BDBDBD;
}

body .selected-var .selected-qr {
  height: 80px;
  width: 100%;
  margin: auto;
  padding: 16px 24px;
  background: white;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .selected-var .selected-qr .selected-total-point {
  font-size: 24px;
  line-height: 45px;
  font-weight: bold;
}

body .selected-var .selected-qr .selected-total-point span {
  font-size: 16px;
  margin-right: 8px;
  font-weight: 300;
}

body .selected-var .selected-qr .selected-qr-button {
  height: auto;
  padding: 16px 32px;
  background: #298AE4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 16px;
  color: white;
  top: 16px;
  position: absolute;
  display: inline-block;
  border-radius: 10px;
  right: 24px;
  text-align: center;
}

body .selected-var .selected-qr .selected-qr-button .qr-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url(../icon/qr.svg);
  vertical-align: top;
}

body .selected-var .selected-qr .selected-qr-button p {
  display: inline-block;
}

body .coupon {
  position: relative;
  width: calc(100% - 48px) !important;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  row-gap: 16px;
  padding-bottom: 136px;
}

body .coupon .coupon-container {
  height: auto;
  width: 100%;
}

body .coupon .coupon-container .coupon-img {
  height: 102px;
  width: 100%;
  position: relative;
  background: gray;
  border-radius: 10px;
  margin-bottom: 8px;
  overflow: hidden;
}

body .coupon .coupon-container .coupon-img .necessary-point {
  font-weight: bold;
  font-size: 10px;
  background: white;
  padding: 4px 6px;
  line-height: 100%;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  bottom: 8px;
  left: 8px;
}

body .coupon .coupon-container .coupon-img .necessary-point span {
  color: #BDBDBD;
}

body .coupon .coupon-container .coupon-name {
  font-size: 10px;
  line-height: 1.2;
  margin-bottom: 8px;
}

body .coupon .coupon-container .coupon-value {
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
}

body .coupon .coupon-container .coupon-value span {
  font-weight: 300;
  font-size: 12px;
  text-decoration: line-through;
}

body .detail-layout {
  height: auto;
  width: calc(100% - 48px);
  margin: auto;
  position: relative;
  top: 16px;
}

body .detail-layout .detail-container {
  height: auto;
  background: #fff;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 32px;
}

body .detail-layout .detail-container .border {
  border-bottom: 1px solid #dbdbdb;
  width: calc(100% - 32px);
  display: block;
  margin: auto;
}

body .detail-layout .detail-container .detail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

body .detail-layout .detail-container .detail-name {
  line-height: 100%;
  height: auto;
  width: 100%;
  text-align: left;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .detail-layout .detail-container .detail-name .detail-name-value {
  text-align: right;
  font-weight: bold;
}

body .detail-layout .detail-container .detail-point {
  height: auto;
  width: 100%;
  text-align: left;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .detail-layout .detail-container .detail-point .detail-point-value {
  text-align: right;
  font-weight: bold;
}

body .detail-layout .detail-section-name {
  line-height: 100%;
  margin-bottom: 24px;
}

body .detail-layout .detail-menu-container {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 75% 15%;
      grid-template-columns: 10% 75% 15%;
  margin: auto;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .detail-layout .detail-menu-container .detail-menu-number {
  height: 22px;
  width: 22px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: black;
  line-height: 22px;
  display: inline-block;
  border-radius: 11px;
  vertical-align: middle;
  margin: auto;
  margin-left: 0px;
}

body .detail-layout .detail-menu-container .detail-menu-name {
  line-height: 1.2;
}

body .detail-layout .detail-menu-container .detail-menu-point {
  text-align: right;
  font-weight: bold;
  vertical-align: middle;
  margin: auto;
  margin-right: 0px;
}

body .modal {
  position: fixed;
  width: 100%;
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body .modal .coupon-detail-container {
  height: auto;
  width: calc(100% - 48px);
  margin: auto;
  background: white;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

body .modal .coupon-detail-container .close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
}

body .modal .coupon-detail-container .coupon-detail-img {
  position: relative;
  width: 100%;
  background: #BDBDBD;
}

body .modal .coupon-detail-container .coupon-detail-img:before {
  content: "";
  display: block;
  padding-top: 70.9%;
  /* 高さを幅の75%に固定 */
}

body .modal .coupon-detail-container .coupon-detail-img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body .modal .coupon-detail-container .coupon-detail-contents {
  padding: 24px 0px;
  height: auto;
  margin: auto;
  width: calc(100% - 48px);
}

body .modal .coupon-detail-container .coupon-detail-contents .expire {
  font-size: 12px;
  color: #bdbdbd;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 10px;
}

body .modal .coupon-detail-container .coupon-detail-contents .coupon-detail-name {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 11px;
}

body .modal .coupon-detail-container .coupon-detail-contents .coupon-detail-value {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
}

body .modal .coupon-detail-container .coupon-detail-contents .coupon-detail-value span {
  font-size: 16px;
  font-weight: 300;
  text-decoration: line-through;
}

body .modal .coupon-detail-container .coupon-detail-contents .modal-point {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

body .modal .coupon-detail-container .coupon-detail-contents .modal-give-point-sentence {
  font-size: 12px;
  line-height: 130%;
  padding-top: 16px;
}

body .modal .coupon-detail-container .coupon-detail-contents .modal-give-point-sentence span {
  font-weight: bold;
}

body .modal .coupon-detail-container .coupon-detail-contents .qr-img {
  position: relative;
  width: 100%;
  background: #BDBDBD;
}

body .modal .coupon-detail-container .coupon-detail-contents .qr-img:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* 高さを幅の75%に固定 */
}

body .modal .coupon-detail-container .coupon-detail-contents .qr-img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body .modal .coupon-scan-check {
  font-size: 12px;
  line-height: 100%;
  padding: 24px 0px;
  vertical-align: middle;
  text-align: center;
  line-height: 16px;
}

body .modal .coupon-scan-check span input[type="checkbox" i] {
  display: inline-block;
  height: 16px;
  vertical-align: top;
  width: 16px;
  margin: auto;
  border-radius: 6px;
  margin-right: 6px;
}

.disabled {
  color: #BDBDBD !important;
}

.tab-menu {
  position: fixed !important;
  z-index: 100 !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.tab-contents {
  top: 48px !important;
  position: relative;
}

.history-tab-menu {
  position: fixed !important;
  z-index: 100 !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.history-tab-contents {
  top: 72px !important;
  position: relative;
}

.tab-wrap {
  background: #F4F5F7;
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  top: 0px;
  -webkit-transform: translate3d(0px, 0, 0) !important;
          transform: translate3d(0px, 0, 0) !important;
}

.tab-label-container {
  height: auto !important;
  text-align: center;
  position: relative;
}

.tab-label {
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  position: relative !important;
  line-height: 100%;
  padding: 16px 0px !important;
  text-align: center;
  height: auto !important;
  width: 100%;
  display: block !important;
}

.tab-con {
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.tab-switch {
  display: none;
}

.swiper-slide-thumb-active::after {
  content: "";
  position: absolute;
  height: 4px;
  margin: auto;
  width: 100%;
  top: 44px;
  left: 0;
  background: black;
  color: #090835 !important;
  font-weight: bold;
  z-index: 100;
  -webkit-animation: nobi 0.2s forwards;
          animation: nobi 0.2s forwards;
}

@-webkit-keyframes nobi {
  to {
    width: 100%;
  }
  from {
    width: 0%;
  }
}

@keyframes nobi {
  to {
    width: 100%;
  }
  from {
    width: 0%;
  }
}
/*# sourceMappingURL=style.css.map */