$font-size: (
    sentence: 16px,
    title: 24px,
    mini-text: 12px
);
$theme-colors: (
  primary: #F4F5F7,
  secondary: #fff,
  success: #28a745,
  info: #D7D7D7,
  warning: #ffc107,
  danger: #dc3545,
  light: #BDBDBD,
  dark: #000
);

$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 544px;
$screen-xs: 345px;
$bp-list: (
 xs: screen and (max-width: #{$screen-xs}),
 sm: screen and (min-width: #{$screen-sm}),
 md: screen and (min-width: #{$screen-md}),
 lg: screen and (min-width: #{$screen-lg}),
 xl: screen and (min-width: #{$screen-xl})
) !default;
@mixin screen-mq($bp-key) {
 @media #{map-get($bp-list, $bp-key)} {
  @content;
 }
}
@include screen-mq(lg) { 
  body{
  display: none;

}
}
@include screen-mq(xs) { 
    body{
    display: none;
  
  }
}
p,h4,h3,h2,h1 {
    margin: auto;
}
body {
    margin: auto;
    position: relative;
    overflow-x: hidden;
    font-family:"Noto sans","Noto sans JP", sans-serif;
    background-color:map-get($theme-colors, primary ) ;
    input {
        border: none;
        display: block;
        outline: none;
        padding: 0px;
        line-height: 48px;
      }
    input::placeholder {
      font-size:map-get($font-size , sentence);
      color:#BDBDBD;
      line-height: 48px;
      font-weight: 300;
      position: relative;
      top: 1px;
    }
    .fix-header {
        position: sticky;
        width: 100%;
        top:0;
        height: 56px;
        margin: auto;
        z-index: 100;
        background-color: map-get($theme-colors, primary );
    }
    .header {
        height: 56px;
        width: calc(100% - 48px);
        font-size: map-get($font-size , sentence);
        font-weight: bold;
        margin: auto;
        position: relative;
        .logo {
            height: 24px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .menu-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0px;
            margin: auto;
        }
        .page-name{
            line-height: 56px;
            font-size: map-get($font-size , title );
        }
    }
    .login {
        width: calc(100% - 48px);
        margin: auto;
        padding-top: 24px;
          .input {
            height: 48px;
            width: 100%;
            box-sizing: border-box;
            padding-left: 16px;
            border-radius: 10px;
            margin-bottom: 24px;
          }
          div {
            position: relative;
            .visible {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 16px;
                margin: auto;
              }
          }
          button{
            margin: auto;
            margin-top: 8px;
            height: 48px;
            padding: 0;
            border: none;
            background: map-get( $theme-colors, dark );
            color: #fff;
            font-size: map-get( $font-size , sentence );
            font-weight: 500;
            width: 100%;
            border-radius: 10px;
            outline: none;
          }
        
    }
    .history-tab{
        height: 48px;
        display: grid;
        background-color: map-get( $theme-colors , primary );
        grid-template-columns: 50% 50%;
        width: 100%;
        line-height: 48px;
        font-size: map-get($font-size, sentence );
        font-weight: bold;
        position: sticky;
        margin: auto;
        border-bottom: 1px solid map-get( $theme-colors , info );
        z-index: 10;
        top: 56px;
        .history-tab-left{
            text-align: right;
            background-color: map-get( $theme-colors , primary );
            margin-right: 16px;
        }
        .history-tab-right{
            text-align: left;
            margin-left: 16px;
            background-color: map-get( $theme-colors , primary );
        }
    }
        .history-inactive{
            color: map-get( $theme-colors , light );
        }
    .history {
        .in-active {
         display: none;
        }
        width: calc(100% - 48px);
        margin: auto;
        .history-point {
        .history-point-histories-month{
            padding-bottom: 16px;
            height: auto;
            display: grid;
            grid-template-columns: 50% 50%;
            font-weight: bold;
            line-height: 80%;
            padding-top: 24px;
            background-color: map-get( $theme-colors , primary );
            position: sticky;
            top: 104px;
            z-index: 8;
            .month {
                font-size: map-get($map: $font-size, $key:sentence );
            }
            .month-points {
                text-align: right;
                font-size: map-get($map: $font-size, $key:sentence );
                .month-points-total {
                    font-size: 13px;
                    color: map-get( $theme-colors , light );
                }
                .month-points-p {
                    font-size: map-get($map: $font-size, $key:mini-text );
                    color: map-get( $theme-colors , light );
                }
            }

        }
                .history-point-total {
                    height: auto;
                    display: grid;
                    grid-template-columns: 30% 70%;
                    font-weight: bold;
                    margin-top: 24px;
                    line-height: 80%;
                    .gived-point {
                        font-size: map-get($map: $font-size, $key:mini-text );
                        color: map-get( $theme-colors , light );
                        line-height: 18px;
                    }
                    .total-point{
                        font-size: map-get($map: $font-size, $key:title );
                        text-align: right;
                        .point-p {
                            color: map-get( $theme-colors , light );
                            font-size: 20px;
                        }
                    }
                }
                    .history-point-histories-card {
                        margin-top: 8px;
                        height: auto;
                        padding: 16px;
                        box-sizing: border-box;
                        background: #fff;
                        display: grid;
                        line-height: 80%;
                        grid-template-columns: 70% 30%;
                        border-radius: 10px;
                        .card-username {
                            position: relative;
                            font-size: map-get($map: $font-size, $key:sentence );
                            p {
                                height: 16px;
                                position: absolute;
                                margin: auto;
                                top: 0;
                                bottom: 0;
                            }
                        }
                        .card-day {
                            text-align: right;
                            font-size: map-get($map: $font-size, $key:mini-text );
                            font-weight: bold;
                            margin-bottom: 10px;
                            color: map-get( $theme-colors , light );
                        }
                        .card-points {
                            font-size: map-get($map: $font-size, $key:sentence );
                            font-weight: bold;
                            text-align: right;
                        }
            }
            .history-point-histories-card:nth-child(1) {
                margin-top: 0px;
            }
        }
        .history-coupon {
            .history-coupon-histories-month {
                padding-bottom: 16px;
            height: auto;
            display: grid;
            grid-template-columns: 50% 50%;
            font-weight: bold;
            line-height: 80%;
            padding-top: 24px;
            background-color: map-get( $theme-colors , primary );
            position: sticky;
            top: 104px;
            z-index: 8;
            .month {
                font-size: map-get($map: $font-size, $key:sentence );
            }
            }
            .history-coupon-histories {
                .history-coupon-histories-card {
                    margin-top: 8px;
                    height: auto;
                    padding: 16px;
                    box-sizing: border-box;
                    background: #fff;
                    display: grid;
                    line-height: 80%;
                    grid-template-columns: 70% 30%;
                    border-radius: 10px;
                    .card-coupon-username {
                        font-size: map-get($map: $font-size, $key:mini-text );
                        margin-bottom: 10px;
                    }
                    .card-coupon-couponname {
                        font-size: map-get($map: $font-size, $key:sentence );
                    }
                    .card-day {
                        text-align: right;
                        font-size: map-get($map: $font-size, $key:mini-text );
                        font-weight: bold;
                        margin-bottom: 10px;
                        color: map-get( $theme-colors , light );
                    }
                    .card-points {
                        font-size: map-get($map: $font-size, $key:sentence );
                        font-weight: bold;
                        text-align: right;
                    }
                }
                .history-coupon-histories-card:nth-child(1) {
                    margin-top: 0;
                }
            }
        }
        }
    .point {
        position: relative;
        overflow-x: hidden;
        padding-top: 24px;
        width: calc(100% - 48px) !important;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
            .point-card {
                height: auto;
                padding: 24px;
                box-sizing: border-box;
                background: map-get($theme-colors , secondary );
                position: relative;
                display: grid;
                grid-template-columns: 80% 20%;
                border-radius: 10px;
                margin-bottom: 12px;
                line-height: 80%;
                width: 100%;
                transition: 0.1s;
                .point-card-name {
                    font-size: map-get($font-size, sentence);
                    display: inline-block;
                }
                .point-card-points {
                    font-size: map-get($font-size, sentence);
                    font-weight: bold;
                    text-align: right;
                    display: block;
                    margin-left: auto;
                    margin-right: 16px;
                    span {
                        color: #BDBDBD;
                    }
                }
                .point-card-arrow {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: 12px;
                    margin: auto;
                }
            }
            .tab-switch:checked ~ .point-card {
                transition: 0.1s;
                border: 0px solid #000;
            }
            .tab-switch:checked + .point-card {
                border: 2px solid #000;
                 transition: 0.1s;
             }
        }
        .dinner-point {
            width: 100%;
            padding-bottom: 50px;
        }
        .lanch-point {
            background: black;
            width: 100%;
            height: 60px;
        }
        .action-point {
            background: rgb(192, 49, 49);
            width: 100%;
            height: 60px;
        }
}
.disabled {
    color: map-get( $theme-colors , light ) !important;
}

.tab-menu {
    position: fixed !important;
    z-index: 100 !important;
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
     position: relative; 
     overflow: hidden; 
     list-style: none; 
    padding: 0; 
}
.tab-contents {
  top: 48px !important;
}
.tab-wrap {
	background: map-get($theme-colors, primary);
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    top: 0px;
}
.tab-label-container {
    height: auto !important;
    text-align: center;
    position: relative;
}
.tab-label {
	color: map-get($theme-colors, dark);
	cursor: pointer;
    font-size: map-get($font-size, sentence);
    font-weight: bold;
    position: relative !important;
    line-height: 100%;
    padding: 16px 0px !important;
    text-align: center;
    height: auto !important;
    width: 100%;
    display: block !important;
}
.tab-con {
    transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.tab-switch {
	display: none;
}
.swiper-slide-thumb-active::after {
    content:"";
    position: absolute;
    height: 4px;
    margin: auto;
    width: 100%; 
    top: 44px;
    left: 0;
    background: black;
    color: rgb(9, 8, 53) !important;
    font-weight: bold;
    z-index: 1000;
    animation: nobi 0.2s forwards;
 }

 @keyframes nobi {
     to{
         width: 100%;
     }
     from {
         width: 0%;
     }
 }